.footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;

  .binance-img {
    margin-right: .05em;
  }

  .flex-wrapper {
    img + img {
      margin-left: .02em;
    }
  }
}

.footer-mobile {
  justify-content: space-between;
  flex-direction: row-reverse;

  img {
    width: 30%;
  }

  .binance-img {
    margin-right: 0;
  }
}