.header {
  width: 100%;
  position: relative;
  z-index: 0;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .logo {
    width: 50vw;
  }
}

/*
.header-mobile {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -2;
}*/
