.yellow-stripes-bg, .bottom-shadow-bg, .phone-bg {
  position: absolute;
  z-index: -1;
  bottom: 0;
}

.yellow-stripes-bg {
  right: 0;
  top: 0;
  height: 100%;
}

.bottom-shadow-bg {
  width: 100%;
}

.phone-bg {
  width: 60%;
}

.carousel-desktop {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  width: 50%;

  .slider-wrapper .slide img {
    height: 100%;
    max-width: 1.5em;
  }
}

.content {
  padding: .04em 0;
  height: 100%;
  position: relative;

  &-text {
    margin-top: .03em;

    &__title, &__text {
      width: 26%;
    }

    &__title {
      font-size: .07em;
      color: rgba(254, 229, 0, 0.97);
      font-weight: 900;
      text-transform: uppercase;
      position: relative;

      .carousel-mobile {
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: -1;
        width: 60%;

        .slider-wrapper .slide img {
          max-width: 14em;
        }
      }

      .bottom-shadow-mobile-bg {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: -1;
      }

      .phone-mobile-bg {
        position: absolute;
        bottom: 90%;
        left: 10%;
        width: 50%;
        z-index: -2;
      }
    }

    &__text {
      padding: 1em 0 2em;
      font-size: .03em;
      color: white;
    }

    &__button {
      font-family: 'Montserrat', sans-serif;
      font-weight: 900;
      font-size: .035em;
      text-transform: uppercase;

      color: black;
      background: linear-gradient(90deg, #FFE604 20.1%, #DB29C9 78.33%);
      border-radius: 14px;
      text-align: center;
      width: 100%;
      max-width: 411px;
      height: 84px;

      cursor: pointer;
      transition: all .3s ease-in-out;
      border: none;

      &:hover {
        background: linear-gradient(black 0 0) padding-box, linear-gradient(90deg, #FFE604 20.1%, #DB29C9 78.33%) border-box;
        border: 3px solid transparent;
        color: white;
      }
    }

    .social-links {
      justify-content: center;
      margin: .07em 0 .04em;

      img {
        width: .085em;
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .content-text {
    margin-top: 0;
  }
  .content-text__title, .content-text__text {
    width: 100%;
  }
  .content-text__button {
    max-width: unset;
    height: 64px;
  }
  .yellow-stripes-bg {
    top: 70%;
  }
}

@media only screen and (max-width: 550px) {
  .content-text__title .phone-mobile-bg {
    left: 0;
    bottom: 35%;
    width: 70%;
  }
  .content-text__title .carousel-mobile {
    width: 65%;
  }
}

@media only screen and (max-width: 450px) {
  .content-text {
    min-height: 50vh;
  }
}