.app-wrapper {

  .bottom-shadow-bg, .phone-bg {
    position: absolute;
  }

  .bottom-shadow-bg {
    width: 100vw;
    bottom: 0;
    z-index: 0;
  }

  .phone-bg {
    right: 10vw;
    top: 20vh;
    height: 80vh;
    width: 60vw;
    object-fit: contain;
    z-index: -1;
  }

  .carousel-desktop {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 0;

    .react-slideshow-fade-wrapper {
      width: 60vw;
      margin-left: auto;
      margin-right: 0;
    }

    img {
      width: 1.3em;
      height: 1.6em;
      object-fit: contain;
    }
  }

  .content {
    width: 100%;
    position: relative;

    &-text {
      width: 30vw;

      &__title {
        color: #F992DC;
        font-weight: 900;
        font-size: .048em;
        text-transform: uppercase;
      }

      &__text {
        color: white;
        font-size: .019em;
        padding: 3.5em 0;
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  body {
    font-size: 100vw !important;
  }
  .app-wrapper {
    height: unset;
    min-height: 100vh;
  }
  .app-wrapper .content-text {
    width: 100%;
    position: relative;
  }
  .app-wrapper .bottom-shadow-bg {
    bottom: 98%;
    z-index: 1;
    width: 100%;
  }
  .footer-mobile img {
    width: 20%;
  }
  .app-wrapper .carousel-mobile {
    max-height: 100vh;
  }
  .app-wrapper .carousel-mobile .react-slideshow-fade-images-wrap {
    div {
      height: .68em;
    }
  }
  .app-wrapper .carousel-mobile img {
    width: .55em;
    position: absolute;
    top: 0;
    left: 65%;
    transform: translateX(-50%);
  }
  .social-links {
    justify-content: space-around;
    margin: .045em 0 .03em;
  }
  .app-wrapper .content-text__title {
    text-align: center;
    font-size: 0.072em;
  }
  .app-wrapper .content-text__text {
    padding: 2.2em 0 2.4em;
    text-align: center;
    font-size: 0.0285em;
  }
  .app-wrapper .phone-bg {
    right: 27vw;
    top: 12vh;
    height: 50vh;
    width: 50vw;
  }
  .header .logo {
    width: 100%;
  }
  .sign-in-button {
    max-width: unset;
  }
}

@media only screen and (max-width: 500px) {
  .app-wrapper .carousel-mobile img {
    width: 1em;
    left: 60%;
  }
  .app-wrapper .carousel-mobile .react-slideshow-fade-images-wrap div {
    height: 1em;
  }
  .app-wrapper .phone-bg {
    right: 36vw;
    top: 10vh;
    height: 65vh;
    width: 60vw;
  }
  .app-wrapper .content-text__button {
    max-width: unset;
    min-height: 6em;
  }
}

@media only screen and (max-width: 500px) and (min-height: 750px) {
  .app-wrapper .carousel-mobile .react-slideshow-fade-images-wrap div {
    height: 1.2em;
  }
}

@media only screen and (orientation: landscape) and (max-width: 1024px) {
  .app-wrapper .carousel-mobile {
    width: 40vw;
  }
  .app-wrapper .content {
    flex-direction: row-reverse;
  }
  .app-wrapper .content-text {
    width: 40vw;
  }
  .app-wrapper .bottom-shadow-bg {
    bottom: 25%;
    left: 100%;
    width: 50vw;
  }
  .app-wrapper .phone-bg {
    top: 50%;
    left: 55%;
    height: 80vh;
    transform: translate(-50%, -50%);
  }
  .app-wrapper .carousel-mobile img {
    width: .7em;
    height: 100%;
    object-fit: contain;
    left: auto;
    right: -45vw;
  }
  .app-wrapper .carousel-mobile .react-slideshow-fade-images-wrap div {
    height: 0.6em;
  }
  .footer {
    z-index: 1;
  }
  .app-wrapper .content-text__title,
  .app-wrapper .content-text__text {
    text-align: left;
  }
}
