@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&display=swap');

html {
  box-sizing: border-box;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body, ul, li, a, p, h1, h4, button {
  margin: 0;
  padding: 0;
}

.overflow-hidden {
  overflow: hidden;
}

body {
  width: 100vw;
  min-width: 320px;
  max-width: 1920px;
  margin: 0 auto;
  min-height: 100vh;

  background-color: #000;
  font-family: 'Montserrat', sans-serif;
  font-size: 100vh;
}
