@import "animation";

.button-view {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: .022em;
  text-transform: uppercase;
  color: black;
  background: linear-gradient(90deg, #FFE604 20.1%, #DB29C9 78.33%);
  border-radius: 14px;
  text-align: center;
  cursor: pointer;
  border: none;
  min-height: 4em;
  width: 100%;

  transition: all .3s ease-in-out;

  &:hover {
    background: linear-gradient(black 0 0) padding-box, linear-gradient(90deg, #FFE604 20.1%, #DB29C9 78.33%) border-box;
    border: 3px solid transparent;
    color: white;
  }
}

.sign-in-button {
  max-width: 19.5em;
}

.connect-wrapper {
  input {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: .022em;
    border-radius: 14px;
    color: #F992DC;
    background: linear-gradient(black 0 0) padding-box, linear-gradient(90deg, #FFE604 20.1%, #DB29C9 78.33%) border-box;
    border: 3px solid transparent;
    min-height: 4em;
    padding: 0 1em;

    &::placeholder {
      color: #F992DC;
    }
  }

  button {
    margin-left: 1em;
    min-height: 4em;
  }
}

.button-flip-out-x {
  animation: flipOutX .4s ease-in-out;
}

.button-flip-in-x {
  animation: flipInX .4s ease-in-out;
}